<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomizerTMF.Settings.StandardRMC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RandomizerTMF.Settings.StandardRMC>
            <setting name="TimeLimitHours" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimeLimitMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeLimitSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FreeSkips" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxATMinutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxATSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxATMilliseconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>DEFAULT RMC</value>
            </setting>
        </RandomizerTMF.Settings.StandardRMC>
    </userSettings>
</configuration>